*{
    box-sizing: border-box;
}
body{
    margin: 0;
    /* background-color: seashell; */
    background: linear-gradient(400deg, #757b87,#0d7575, #50a3a3);  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

input{
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    min-width: 300px;

}
input:focus{
    outline: none;
}

.weather{
    text-align: center;
    font-size: 2rem;
  
}
.weather h2{
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.weather img{
    transform: scale(2);
}
















